extends email-layout

block content
  h2= subject
  p Hello, Parent or guardian of #{name}. Your child has 
    strong #{callbackCount} 
    span items on callback.  Please work with #{name} to get this work completed.
  p Please login to NCUJHS.tech to see what the assignments are.
  +button('//ncujhs.tech', 'NCUJHS.Tech')
  p Sincerly, #{teacher}
  p Please reply to me at #{replyTo}
  br
  
