extends email-layout

block content
  h2= subject
  P Current PBIS Card Total: #{pbisSchoolCount}
  table.table
    thead
        td TA Teacher
        td Winner
        td Previous Winner

    each teacher in winners
        tr
            td=teacher.name
            td=teacher.winner
            if teacher.previousPbisWinner
                td=teacher.previousPbisWinner.name
  