extends layout

block content
    .inner
        h2= `Edit ${account.name}'s Account`
        //- add a link to change their password
        form(action=`/user/edit/:${account._id}` method="post")
            label(for="name") Name
            input(type="text" name="name" value=account.name) 
            label(for="email") Email Address
            input(type="text" name="email" value=account.email)
            .teacherSearch
                if account.ta
                    label(for="teacherName") TA Teacher
                    input(type="text" id="search" name="teacherName" value=account.ta.name)
                    .search
                        .search__results
                    input(type="hidden" id="id" name="ta" readonly="readonly" value=account.ta._id)
                else
                    label(for="teacherName") TA Teacher
                    input(type="text" id="search" name="teacherName" value=account.ta)
                    .search
                        .search__results
                    input(type="hidden" id="id" name="ta"  value=account.ta)
            hr
            if account.isTeacher
                label(for="isTeacher") Teacher
                input(type="radio" name="isTeacher" checked value="true")
                label(for="isTeacher") Student
                input(type="radio" name="isTeacher" value="")
            else
                label(for="isTeacher") Teacher
                input(type="radio" name="isTeacher" value="true")
                label(for="isTeacher") Student
                input(type="radio" name="isTeacher" checked value="")
            hr
            if account.isAdmin
                label(for="isAdmin") Has Admin Rights
                input(type="radio" name="isAdmin" checked value="true")
                label(for="isAdmin") Not Admin
                input(type="radio" name="isAdmin" value="")
            else
                label(for="isAdmin") Has Admin Rights
                input(type="radio" name="isAdmin" value="true")
                label(for="isAdmin") Not Admin
                input(type="radio" name="isAdmin" checked value="")

                
            

            input(type="hidden" name="id"  value=account._id ) 
            input.button(type="submit" value=`Update ${account.name}'s Account`)