extends layout

block content
    .inner
        h2= `Edit ${account.name}'s Account`
        //- add a link to change their password
        form(action=`/user/edit/:${account._id}` method="post")
            label(for="name") Name
            input(type="text" name="name" value=account.name) 
            label(for="email") Email Address
            input(type="text" name="email" value=account.email)
            .teacherSearch
                if account.ta
                    label(for="teacherName") TA Teacher
                    input(type="text" id="search" name="teacherName" value=account.ta.name)
                    .search
                        .search__results
                    label(for="ta") TA Teacher id
                    input(type="text" id="id" name="ta" readonly="readonly" value=account.ta._id)
                else
                    label(for="teacherName") TA Teacher
                    input(type="text" id="search" name="teacherName" value=account.ta)
                    .search
                        .search__results
                    label(for="ta") TA Teacher id
                    input(type="text" id="id" name="ta"  value=account.ta)
            label(for="isTeacher") Teacher
            input(type="checkbox" name="isTeacher" checked=account.isTeacher value=account.isTeacher )
            label(for="id") id
            input(type="text" name="id" value=account._id ) 
            input.button(type="submit" value="Update My Account")