extends layout
include mixins/_pbisForm
block content 
    .inner 
        h2 #{title}
        
        form(action=`/awards/add/${award._id || ''}` method="POST" class="card" )
            label(for="studentName") Student Name
            .student
                if award.student
                    input(name="studentName" value=award.student.name disabled="disabled" required)
                else
                    input(name="studentName" id="search" type="text" autofocus value=award.student required)
                .search
                    .search__results

            if award.student
                .search__input
                    input(name="student" id="id" value=award.student._id hidden required)
            else
                .search__input
                    input(name="student" id="id" value=award.student hidden required)

            input(name="trimester" value="2" hidden)

            .radioContainer
                input(type="radio" name="category" id="Respect" checked value="Respect")
                label(for="Respect") 
                    span.radio Respect
                input(type="radio" name="category" id="Responsibility" value="Responsibility")
                label(for="Responsibility") 
                    span.radio Responsibility
                input(type="radio" name="category" id="Perserverance" value="Perserverance")
                label(for="Perserverance") 
                    span.radio Perserverance

            input(type="submit" value="Save →" class="button")

       
        each oldAward in awards 
            p #{oldAward.student.name} - #{oldAward.category}
