extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/calendar.png`)
            h2.title.title--single
            
                a=calendar.title
                if editable
                    p
                        a(href=`/calendar/${calendar._id}/edit`) Edit
            
                p= calendar.Date.toDateString()

    .single.details.inner
        p= calendar.description
        if calendar.link
            if calendar.link.startsWith('http')
                a(href=`${calendar.link}`) Link to: #{calendar.linkTitle}
            else
                a(href=`//${calendar.link}`) Link to: #{calendar.linkTitle || 'LINK'}
        p= "Date added to calendar: "+ calendar.created.getMonth() +"/"+ calendar.created.getDate() +"/" + calendar.created.getFullYear()
        p= "Event created by: " + calendar.author.name