extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/calendar.png`)
            h2.title.title--single
            
                a=calendar.title
                if editable
                    p
                        a(href=`/calendar/${calendar._id}/edit`) Edit
            
                p= calendar.Date.toDateString()

    .single.details.inner
        p= calendar.description
        a(href=`//${calendar.link}`) Link to: #{calendar.linkTitle}
        p= "Date added to calendar: "+ calendar.created.getMonth() +"/"+ calendar.created.getDate() +"/" + calendar.created.getFullYear()
        p= "Event created by: " + calendar.author.name