extends layout

include mixins/_calendarCard
block content
    .inner
        h2= title
            if user
                if user.permissions.includes("teacher") || user.permissions.includes("admin")
                    a.title_link(href="/add") Add Event
        p.tags
            if user
                if currentPath.startsWith("/allCalendars")
                    a.textLinks.button(href="/calendars") Upcoming events only
                else 
                    a.textLinks.button(href="/allCalendars") Include all events
        .calendars
            if currentPath.startsWith("/calendars")
                each calendar in calendars
                    +calendarCard(calendar)
            if currentPath.startsWith("/allCalendars")
                table.table
                    thead 
                        td Date
                        td Event
                        td Info
                        td Link
                    each calendar in calendars
                            tr
                                
                                td
                                    a(href=`/calendar/${calendar._id}`)=calendar.Date.toLocaleDateString()
                                td
                                    a(href=`/calendar/${calendar._id}`)=calendar.title
                                td
                                    a(href=`/calendar/${calendar._id}`)=calendar.description
                                if calendar.link
                                    td
                                        a(href=`/calendar/${calendar._id}`) Link
                                else 
                                    td 

