extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/callback.png`)
            h2.title.title--single
                a=callback.assignment
                if editable
                    p
                        a(href=`/callback/${callback._id}/edit`) Edit
                        span /
                        a(href=`/callback/${callback._id}/duplicate`) Duplicate
                p= callback.student.name + " has been on callback since: " + callback.assigned.toDateString()

    .single.details.inner
        p= callback.description
        p= "Assigned by: " + callback.teacher.name
        if callback.link.startsWith('http')
            a(href=`${callback.link}`) Link to: #{callback.linkTitle}
        else
            a(href=`//${callback.link}`) Link to: #{callback.linkTitle || 'LINK'}
        
        if owner
            hr
            form(action=`/callback/add/${callback._id || ''}` method="POST" )
                label(for="message") student/teacher message
                input(type="text" name="message" value=callback.message)
                input(type="submit" value="Save →" class="button")