extends layout

block content
    .single
        .single__hero
            h2.title.title--single
                a=callback.assignment
                if editable
                    p
                        a(href=`/callback/${callback._id}/edit`) Edit
                p= "On callback since: " + callback.assigned.toDateString()

    .single.details.inner
        p= callback.description
        p= "Assigned by: " + callback.teacher.name