extends layout

include mixins/_calendarCard
include mixins/_callbackCard
include mixins/_teacherCurrentWorkForm
include mixins/_showCurrentWork
include mixins/_pbisCards
include mixins/_progressDisplay

block content
    .inner
        .titleContainer
            h1= title
            .PBIS_Container
                progress.PBIS_Progress(value=schoolWidePbisData.teamsAtGoal max=schoolWidePbisData.totalTeams)
                span.PBIS_Title School Wide PBIS Card Total!!
                span.PBIS_Counter=pbisSchoolCount
                span.PBIS_Title #{schoolWidePbisData.teamsAtGoal} out of #{schoolWidePbisData.totalTeams} teams have reached level #{schoolWidePbisData.nextGoal}
            if user
                .dashboardLinks
                    if user.permissions.includes("teacher") || user.permissions.includes("admin")
                        a.title_link(href="https://docs.google.com/spreadsheets/d/1SuXZeXmeW8M0yt_c8RPZuE-duT0JZSm_wOhJWt7aTvc/edit?usp=sharing" target="_blank") ** Attendance **
                        a.title_link(href="/progress") Engagement
                        a.title_link(href="/discipline/addNew") Discipline
                    if !user.permissions.includes("student") || !user.permissions.includes("parent")
                        a.title_link(href="/pbis/add") PBIS Business Card
                        a.title_link(href="https://docs.google.com/forms/d/e/1FAIpQLSeUuCOIQ4ccf3rfHiIcK7a46cSQtN_s3hl4hmmY1Zm9d6C3fw/viewform?usp=sf_link" target="_blank") Covid Survey
                    if user.permissions.includes("pbis")
                        a.title_link(href="/pbis/search/category") PBIS DATA
                    if user.permissions.includes("parent")
                        a.title_link(href="https://docs.google.com/forms/d/e/1FAIpQLSexsbbbxO00gE9nJTfxbQzoh211eys7tgnjcDgt7BI07M8o6A/viewform?usp=sf_link" target="_blank") Covid Survey
                    if !user.permissions.includes("parent")
                        a.title_link(href="https://forms.gle/EddqxuGvcyDATRXB9" target="_blank") Weekly Meals
                    if user.permissions.includes("student")
                        a.title_link(href="https://forms.gle/sgqgYUrJ1MkQX2MR9" target="_blank") Basketball Survey
                    //-     a.title_link(href="https://docs.google.com/forms/d/e/1FAIpQLSex56-bP4lKBW8jVZooDk6s2G14I7mr4wzpDoc_6g_0Lye8Cw/viewform?usp=sf_link" target="_blank") Covid Survey
                    //- a.title_link(href="https://forms.gle/SVurYgGcd8W54Doo9" target="_blank") After School Signups
        if user

            if user.permissions.includes("teacher")
                +teacherCurrentWorkForm(user)
                hr
            .calendars
                //- img(src="https://raw.githubusercontent.com/mysticfalconvt/NCUJHS/master/public/images/virtual.png" width="50%" height="50%")
                each calendar in calendars
                    +calendarCard(calendar)
                each callback in callbacks
                    +callbackCard(callback)
            if progresses
                .ProgressContainer
                    br  
                    each progress in progresses
                        +progressDisplay(progress)
            if user.permissions.includes("student")
                +showCurrentWork(user)
                +pbisCards(pbis, user)

            if user.permissions.includes("parent")
                each child in student
                    +showCurrentWork(child)
                +pbisCards(pbis,user)
        else
            p Welcome to the NCUJHS Dashboard.  Please login.  
            p If you are a parent or guardian please contact the school to setup an account to monitor your child's progress.
            //- img(src="https://raw.githubusercontent.com/mysticfalconvt/NCUJHS/master/public/images/virtual.png" width="70%")