extends layout

include mixins/_calendarCard
include mixins/_callbackCard
include mixins/_teacherCurrentWorkForm
include mixins/_showCurrentWork
include mixins/_pbisCards

block content
    .inner
        .titleContainer
            h1= title
            .PBIS_Container
                progress.PBIS_Progress(value=schoolWidePbisData.teamsAtGoal max=schoolWidePbisData.totalTeams)
                span.PBIS_Title School Wide PBIS Card Total!!
                span.PBIS_Counter=pbisSchoolCount
                span.PBIS_Title #{schoolWidePbisData.teamsAtGoal} out of #{schoolWidePbisData.totalTeams} teams have reached level #{schoolWidePbisData.nextGoal}
            if user
                .hero
                    if (user.isTeacher || user.isAdmin)
                        a.title_link(href="https://docs.google.com/spreadsheets/d/1UH-OrTKDwtKV1jPIf3t10wOHOZxsvKPAc3_XV_08KKw/edit" target="_blank") ** Attendance **
                    if (user.isTeacher || user.isAdmin ||user.isPara)
                        a.title_link(href="/pbis/add") PBIS Business Card
                    if ( user.isPbis || user.isAdmin)
                        a.title_link(href="/pbis/search/category") PBIS DATA
        if user
            if user.isTeacher
                +teacherCurrentWorkForm(user)
                hr
            .calendars
                each calendar in calendars
                    +calendarCard(calendar)
                each callback in callbacks
                    +callbackCard(callback)
            if !(user.isTeacher || user.isAdmin || user.isPara || user.isParent)
                +showCurrentWork(user)
                +pbisCards(pbis)

            if user.isParent
                each child in student
                    +showCurrentWork(child)
        else
            p Welcome to the NCUJHS Dashboard.  Please login.  
            p If you are a parent or guardian please contact the school to setup an account to monitor your child's progress.