extends layout


block content
    .inner
        h2= title
            if user
                if (user.isTeacher || user.isAdmin)
                    a.title_link(href="/info/add") Add new 
        
        table.table     
            thead
                td 
                    a(href="/info/search/category") Category
                td 
                    a(href="/info/search/title") Title
                td 
                    a(href="/info/search/description") Description
                //- td 
                //-     a(href="/info/search/linkTitle") Link
                if user
                    if user.isAdmin
                        td edit
            each info in infos
                tr
                    td=info.category
                    td
                        if info.link
                            if info.link.startsWith('http')
                                a(href=`${info.link}` target="_blank")=(info.title)
                            else 
                                a(href=`//${info.link}` target="_blank")=info.title
                    
                    td=info.description
                    //- td
                    //-     if info.link
                    //-         if info.link.startsWith('http')
                    //-             a(href=`${info.link}` target="_blank")=(info.linkTitle || 'link')
                    //-         else 
                    //-             a(href=`//${info.link}` target="_blank")=info.linkTitle
                    if user
                        if user.isAdmin
                            td 
                                a(href=`/info/${info._id}`) EDIT