doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/Falconlogo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item
              a.nav__link.nav__link--logo(href="/")
                img(src='https://33b9108ac7008bb485d5-91c3a2b112acf0947e0c098656bd605c.ssl.cf1.rackcdn.com/ncuhs_login.png' width="60")
                if user
                  if user.isTeacher
                    span Teacher Dashboard
                  else if user.isAdmin
                    span Admin Dashboard
                  else 
                    span Student Dashboard
              each item in h.menu
                li.nav__item
                  a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    != h.icon(item.icon)
                    span #{item.title}
              if user
                if user.isTeacher
                  li.nav__item
                    a.nav__link(href="/callback/teacher", class=(currentPath.startsWith('/callback/teacher') ? 'nav__link--active' : ''))
                      != h.icon('tag')
                      span #{"Assigned Callback"}
                  li.nav__item
                    a.nav__link(href="/callback/add", class=(currentPath.startsWith('/callback/add') ? 'nav__link--active' : ''))
                      != h.icon('add')
                      span #{"add Callback"}
                if user.isAdmin
                  li.nav__item
                    a.nav__link(href="/add", class=(currentPath.startsWith('/add') ? 'nav__link--active' : ''))
                      != h.icon('addcalendar')
                      span #{"add event"}
                if user.isTeacher
                  li.nav__item
                    a.nav__link(href="/StudentFocus", class=(currentPath.startsWith('/studentFocus') ? 'nav__link--active' : ''))
                      != h.icon('studentfocus')
                      span #{"Student Focus"}
                  li.nav__item
                    a.nav__link(href="/addStudentFocus", class=(currentPath.startsWith('/addStudentFocus') ? 'nav__link--active' : ''))
                      != h.icon('pencil')
                      span #{"add Student Focus"}    
                else if user.isAdmin
                  li.nav__item
                    a.nav__link(href="/StudentFocus", class=(currentPath.startsWith('/studentFocus') ? 'nav__link--active' : ''))
                      != h.icon('studentfocus')
                      span #{"Student Focus"}
                  li.nav__item
                    a.nav__link(href="/addStudentFocus", class=(currentPath.startsWith('/addStudentFocus') ? 'nav__link--active' : ''))
                      != h.icon('pencil')
                      span #{"add Student Focus"}
          //- .nav__section.nav__section--search
          //-   .search
          //-     input.search__input(type="text" placeholder="Search..." name="search")
          //-     .search__results
          .nav__section.nav__section--user
            if user
              li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : ''))
                != h.icon('logout')
                span Logout
              li.nav__item: a.nav__link(href="/account", class=(currentPath.startsWith('/account') ? 'nav__link--active' : ''))
                != h.icon('top')
                span Account
            else
              li.nav__item: a.nav__link(href="/register", class=(currentPath.startsWith('/register') ? 'nav__link--active' : '')) Register
              li.nav__item: a.nav__link(href="/login", class=(currentPath.startsWith('/login') ? 'nav__link--active' : '')) Log In

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src="/dist/App.bundle.js")
