extends layout
include mixins/_pbisChart

block content
    .inner
        h1=title
            a.title_link(href="/pbis/team/add") Add a new PBIS Team
        
       
        +pbisChart(datesToShow, quantityToShow)
        table.table
            thead
                td Team Slogan
                td Teacher 1
                td Teacher 2
                td Teacher 3
                td Current Level
                td Current Cards per student
                td Students in Team
                
            each team in listOfTeams
                tr
                    td
                        a(href=`/pbis/team/${team._id}`)=team.name
                    td=team.teacher1.name
                    td=team.teacher2.name
                    if team.teacher3
                        td=team.teacher3.name 
                    else 
                        td 
                    td=team.currentLevel
                    td=Math.round(team.averageCardsPerStudent*10)/10
                    td=team.numberOfStudents