extends layout
include mixins/_pbisForm
block content 
    .inner 
        h2 #{title}
        +pbisForm(pbis)
        if students
            each student in students
                p=student.name 
                    span
                        span=" - "
                        a(href=`/pbis/add/student/${student._id}/Respect`) Respect
                        span=" - "
                        a(href=`/pbis/add/student/${student._id}/Responsibility`) Responsibility
                        span=" - "
                        a(href=`/pbis/add/student/${student._id}/Perserverance`) Perserverance

