extends layout

block content
    .inner
        h2= title
            if user
                if user.isTeacher
                    a.title_link(href="/studentFocus/add") Add new 
        if user
            if user.isTeacher || user.isAdmin
                table.table     
                    thead
                        td 
                            a(href="/studentFocus/search/category") Category
                        td 
                            a(href="/studentFocus/search/student") Student
                        td 
                            a(href="/studentFocus/search/comments") Comments
                        td 
                            a(href="/studentFocus/search/teacher") Teacher
                        td 
                            a(href="/studentFocus/search/created") Date
                        td TA
                        td edit
                    each studentFocus in studentFocuss
                        tr
                            td=studentFocus.category
                            td=studentFocus.student.name
                            td=studentFocus.comments
                            td=studentFocus.teacher.name
                            td=studentFocus.created.toDateString()
                            td=studentFocus.student.ta.name
                            if (user._id.equals(studentFocus.teacher._id)) || user.isAdmin
                                td 
                                    a(href=`/studentFocus/${studentFocus._id}`) EDIT