extends layout

include mixins/_callbackCard
include mixins/_teacherCurrentWorkForm
include mixins/_showCurrentWork

block content
    .inner
        h2= title
        if user
            if taTeam
                p
                    a.button(href=`/pbis/ta/${user._id}`) Log TA Business Cards
                p=`${user.name}'s TA has ${user.taPbisCount} Business Cards and is on level ${taTeam[0].currentLevel || '0'} with ${taTeam[0].averageCardsPerStudent || '0'} cards per student`
            .callbacks
                each callback in callbacks
                    +callbackCard(callback)
            if !user.isTeacher
                +showCurrentWork(user)
            each taStudent in taStudents
                +showCurrentWork(taStudent)