extends layout

include mixins/_callbackCard
include mixins/_callbackTable
include mixins/_teacherCurrentWorkForm
include mixins/_showCurrentWork
include mixins/_taQuickInfoTable

block content
    .inner
        h2= title
        if user
            if taTeam
                p
                    a.button(href=`/pbis/ta/${user._id}`) Log TA Business Cards
                    span="   -   "                
                    a.button(href=`/pbis/teamlist`) List of PBIS Teams
                p=`${taTeam.name} are on level ${taTeam.currentLevel || '0'} with ${Math.round(taTeam.averageCardsPerStudent*10)/10 || '0'} cards per student`
            +taQuickInfoTable(taStudents)
            p 
            .callbacks
                if Object.keys(callbacks).length <9
                    each callback in callbacks
                        +callbackCard(callback)
                else 
                   +callbackTable(callbacks)
            if user.currentPbisWinner && user.previousPbisWinner
                p The latest PBIS winner was #{teacher.currentPbisWinner.name} and the one before was #{teacher.previousPbisWinner.name}
            if !user.permissions.includes("teacher")
                +showCurrentWork(user)
            each taStudent in taTeamStudents
                +showCurrentWork(taStudent)