extends layout

include mixins/_callbackCard
include mixins/_showCurrentWork
include mixins/_pbisCards
block content
    .inner
        h2= title
        if user
            p.tags
                if user.isAdmin || user._id.equals(account.ta._id)
                    a.textLinks.button(href=`/user/edit/${account._id}`) Edit this account
                    a.textLinks.button(href=`/account/reset/${account._id}`) Reset #{account.name}'s password
                    a.textLinks.button(href=`/email/parent/${account._id}`) Send a parent account signup email for #{account.name}
                if (user.isAdmin || user.isTeacher)
                    if !account.parent[0]        
                    if account.parent[0]
                        a.textLinks.button(href=`/email/callbackCount/${account._id}`) Send a parent callback update for #{account.name} Check Student Focus First!
                    a.textLinks.button(href=`/studentFocus/search/created/${account._id}`) Student Focus
        hr
        strong Parent Contacts
        each parent in parents
            p 
                span #{parent.name}
                span    -   #{parent.email}
        .calendars
            each callback in callbacks
                +callbackCard(callback)
        +showCurrentWork(account)
        +pbisCards(pbis,account)