mixin accountEditEverything(account = {})
    form(action=`/user/edit/:${account._id}` method="post" class="card")
        label(for="name") Name
        input(type="text" name="name" value=account.name) 
        label(for="email") Email Address
        input(type="text" name="email" value=account.email)
        .teacherSearch
            if account.ta
                label(for="taName") TA Teacher
                input(type="text" id="search" name="taName" value=account.ta.name)
                .search
                    .search__results
                input(type="hidden" id="ta" name="ta" readonly="readonly" value=account.ta._id)
            else
                label(for="taName") TA Teacher
                input(type="text" id="search" name="taName" value=account.ta)
                .search
                    .search__results
                input(type="hidden" id="ta" name="ta"  value=account.ta)
        .mathTeacherSearch
            if account.math
                label(for="mathName") Math Teacher
                input(type="text" id="search" name="mathName" value=account.math.name)
                .search
                    .search__results
                input(type="hidden" id="math" name="math" readonly="readonly" value=account.math._id)
            else
                label(for="mathName") Math Teacher
                input(type="text" id="search" name="mathName" value=account.math)
                .search
                    .search__results
                input(type="hidden" id="math" name="math"  value=account.math)
        .languageArtsTeacherSearch
            if account.languageArts
                label(for="languageArtsName") languageArts Teacher
                input(type="text" id="search" name="languageArtsName" value=account.languageArts.name)
                .search
                    .search__results
                input(type="hidden" id="languageArts" name="languageArts" readonly="readonly" value=account.languageArts._id)
            else
                label(for="languageArtsName") languageArts Teacher
                input(type="text" id="search" name="languageArtsName" value=account.languageArts)
                .search
                    .search__results
                input(type="hidden" id="languageArts" name="languageArts"  value=account.languageArts)
        .scienceTeacherSearch
            if account.science
                label(for="scienceName") science Teacher
                input(type="text" id="search" name="scienceName" value=account.science.name)
                .search
                    .search__results
                input(type="hidden" id="science" name="science" readonly="readonly" value=account.science._id)
            else
                label(for="scienceName") science Teacher
                input(type="text" id="search" name="scienceName" value=account.science)
                .search
                    .search__results
                input(type="hidden" id="science" name="science"  value=account.science)
        .socialStudiesTeacherSearch
            if account.socialStudies
                label(for="socialStudiesName") socialStudies Teacher
                input(type="text" id="search" name="socialStudiesName" value=account.socialStudies.name)
                .search
                    .search__results
                input(type="hidden" id="socialStudies" name="socialStudies" readonly="readonly" value=account.socialStudies._id)
            else
                label(for="socialStudiesName") socialStudies Teacher
                input(type="text" id="search" name="socialStudiesName" value=account.socialStudies)
                .search
                    .search__results
                input(type="hidden" id="socialStudies" name="socialStudies"  value=account.socialStudies)
        .trimester1TeacherSearch
            if account.trimester1
                label(for="trimester1Name") trimester1 Teacher
                input(type="text" id="search" name="trimester1Name" value=account.trimester1.name)
                .search
                    .search__results
                input(type="hidden" id="trimester1" name="trimester1" readonly="readonly" value=account.trimester1._id)
            else
                label(for="trimester1Name") trimester1 Teacher
                input(type="text" id="search" name="trimester1Name" value=account.trimester1)
                .search
                    .search__results
                input(type="hidden" id="trimester1" name="trimester1"  value=account.trimester1)
        .trimester2TeacherSearch
            if account.trimester2
                label(for="trimester2Name") trimester2 Teacher
                input(type="text" id="search" name="trimester2Name" value=account.trimester2.name)
                .search
                    .search__results
                input(type="hidden" id="trimester2" name="trimester2" readonly="readonly" value=account.trimester2._id)
            else
                label(for="trimester2Name") trimester2 Teacher
                input(type="text" id="search" name="trimester2Name" value=account.trimester2)
                .search
                    .search__results
                input(type="hidden" id="trimester2" name="trimester2"  value=account.trimester2)
        .trimester3TeacherSearch
            if account.trimester3
                label(for="trimester3Name") trimester3 Teacher
                input(type="text" id="search" name="trimester3Name" value=account.trimester3.name)
                .search
                    .search__results
                input(type="hidden" id="trimester3" name="trimester3" readonly="readonly" value=account.trimester3._id)
            else
                label(for="trimester3Name") trimester3 Teacher
                input(type="text" id="search" name="trimester3Name" value=account.trimester3)
                .search
                    .search__results
                input(type="hidden" id="trimester3" name="trimester3"  value=account.trimester3)
        hr
        .radioContainer
            if account.isTeacher
                input(type="radio" name="isTeacher" id="isTeacherTrue" checked value="true")
                label(for="isTeacherTrue") 
                    span.radio Teacher
                input(type="radio" name="isTeacher" id="isTeacherFalse" value="")
                label(for="isTeacherFalse") 
                    span.radio Student
            else
                input(type="radio" name="isTeacher" id="isTeacherTrue" value="true")
                label(for="isTeacherTrue") 
                    span.radio Teacher
                input(type="radio" name="isTeacher" id="isTeacherFalse" checked value="")
                label(for="isTeacherFalse") 
                    span.radio Student
        .radioContainer
            if account.isAdmin
                input(type="radio" name="isAdmin" id="isAdminTrue" checked value="true")
                label(for="isAdminTrue") 
                    span.radio Has Admin Rights
                input(type="radio" name="isAdmin" id="isAdminFalse" value="")
                label(for="isAdminFalse") 
                    span.radio Not Admin
            else
                input(type="radio" name="isAdmin" id="isAdminTrue" value="true")
                label(for="isAdminTrue") 
                    span.radio Has Admin Rights
                input(type="radio" name="isAdmin" id="isAdminFalse" checked value="")
                label(for="isAdminFalse") 
                    span.radio Not Admin
        .radioContainer
            if account.isPara
                input(type="radio" name="isPara" id="isParaTrue" checked value="true")
                label(for="isParaTrue") 
                    span.radio Para
                input(type="radio" name="isPara" id="isParaFalse" value="")
                label(for="isParaFalse") 
                    span.radio Not Para
            else
                input(type="radio" name="isPara" id="isParaTrue" value="true")
                label(for="isParaTrue") 
                    span.radio Para
                input(type="radio" name="isPara" id="isParaFalse" checked value="")
                label(for="isParaFalse") 
                    span.radio Not Para

        input(type="hidden" name="id"  value=account._id )
        input.button(type="submit" value=`Update ${account.name}'s Account`)