mixin callbackForm(callback = {})
  form(action=`/callback/add/${callback._id || ''}` method="POST" class="card" )
    label(for="assignment") Assignment
    input(type="text" name="assignment" value=callback.assignment)
    label(for="description") Description
    textarea(name="description")= callback.description

    label(for="studentName") student Name
    .student
      if callback.student
        input(name="studentName" value=callback.student.name disabled="disabled")
      else
        input(name="studentName" id="search" type="text" value=callback.student)
      .search
        .search__results
    label(for="linkTitle") Link
    textarea(name="link")= callback.link
    label(for="linkTitle") Link Title
    textarea(name="linkTitle")= callback.linkTitle

    if callback.student
      if callback.completed
        label(for="completed") Assignment Completed
        input(type="radio" name="completed" checked value="true")
        label(for="completed") Assignment Incomplete
        input(type="radio" name="completed" value="")
      else
        label(for="completed") Assignment Completed
        input(type="radio" name="completed" value="true")
        label(for="completed") Assignment Incomplete
        input(type="radio" name="completed" checked value="")
      
    label(for="student") student ID
    if callback.student
      .search__input
        input(name="student" id="id" value=callback.student._id readonly)
    else
      .search__input
      input(name="student" id="id" value=callback.student readonly)
      
    input(type="submit" value="Save →" class="button")
  