mixin calendarForm(calendar = {})
  form(action=`/add/${calendar._id || ''}` method="POST" class="card" )
    label(for="title") Event Title
    input(type="text" name="title" value=calendar.title)
    label(for="Date") Event Date
    if calendar.Date
      input(type="date" name="Date" value=calendar.Date.toISOString().split('T')[0])
    else
      input(type="date" name="Date" value=calendar.Date)
    label(for="description") Description
    textarea(name="description")= calendar.description
    label(for="linkTitle") Link
    textarea(name="link")= calendar.link
    label(for="linkTitle") Link Title
    textarea(name="linkTitle")= calendar.linkTitle
    hr
    if calendar
      .radioContainer
        if calendar.teachersOnly
          input(type="radio" name="teachersOnly" id="teacherTrue" checked value="true")
          label(for="teacherTrue") 
            span.radio Event for teachers only
          input(type="radio" name="teachersOnly" id="teacherFalse" value="")
          label(for="teacherFalse") 
            span.radio Event for everyone
        else
          input(type="radio" name="teachersOnly" id="teacherTrue" value="true")
          label(for="teacherTrue") 
            span.radio Event for teachers only
          input(type="radio" name="teachersOnly" id="teacherFalse" checked value="")
          label(for="teacherFalse") 
            span.radio Event for everyone
    
    input(type="submit" value="Save →" class="button")
  if calendar.title
    form(action=`/add/${calendar._id || ''}` method="POST" class="calendar" )
      input(type="hidden" name="deleted" value="true")
      input.inner(type="submit" value="Delete Event" class="button")