mixin infoForm(info = {})
  form(action=`/info/add/${info._id || ''}` method="POST" class="card" )
    label(for="title") Title
    input(type="text" name="title" value=info.title)
    label(for="description") Description
    textarea(name="description")= info.description
    label(for="category") Category
    select(type="text" name="category" value=`${info.category || "General Info"}`)
      option(value="Attendance" selected= info.category === "Attendance") Attendance
      option(value="General Info" selected= info.category === "General Info") General Info
      option(value="Remote Learning" selected= info.category === "Remote Learning") Remote Learning
      option(value="Discipline" selected= info.category === "Discipline") Discipline
      option(value="Student Info" selected= info.category === "Student Info") Student Info
      option(value="Schedule" selected= info.category === "Schedule") Schedule
      option(value="TA Info" selected= info.category === "TA Info") TA Info
      option(value="Eval Info" selected= info.category === "Eval Info") Eval Info
      option(value="School Wide Info" selected= info.category === "School Wide Info") School Wide Info
      option(value="Reflection" selected= info.category === "Reflection") Reflection
      option(value="Forms" selected= info.category === "Forms") Forms
    label(for="link") Link
    input(type="text" name="link" value=`${info.link || ""}`)
    //- label(for="linkTitle") Link Title
    //- input(type="text" name="linkTitle" value=`${info.linkTitle || ""}`)
    hr
    if info
      .radioContainer
        if info.teachersOnly
          input(type="radio" name="teachersOnly" id="teacherTrue" checked value="true")
          label(for="teacherTrue") 
            span.radio Link for teachers only
          input(type="radio" name="teachersOnly" id="teacherFalse" value="")
          label(for="teacherFalse") 
            span.radio Link for everyone
        else
          input(type="radio" name="teachersOnly" id="teacherTrue" value="true")
          label(for="teacherTrue") 
            span.radio Link for teachers only
          input(type="radio" name="teachersOnly" id="teacherFalse" checked value="")
          label(for="teacherFalse") 
            span.radio Link for everyone
    hr
    input(type="submit" value="Save →" class="button")
  if info.title
    form(action=`/info/add/${info._id || ''}` method="POST" class="calendar" )
      input(type="hidden" name="deleted" value="true")
      input.inner(type="submit" value="Delete Link" class="button")