mixin progressDisplay(progress={})
    a(href=`/myProgress/${progress.class}/${progress.student._id}`)
        .Progress_Container
            if progress.average
                progress.Progress_Progress(value=progress.average max="5")
                span.Progress_Title Average rating #{progress.average}
            progress.Progress_Progress(value=progress.rating max="5")
            span.Progress_Title Latest rating #{progress.rating}
            span.Progress_Title=progress.student.name + "  -  " + progress.class
            span.Progress_Title="Updated - " + progress.created.toLocaleDateString()