mixin showCurrentWork(user = {})

    if user.ta
                hr
                p=`Current Classwork for ${user.name}. They have ${user.callbackCount} items on callback.`
                table.table
                    thead 
                        td Class
                        td Teacher
                        td Current Assignment to work on 
                    if user.math
                        tr
                            td Math
                            td= user.math.name
                            td= user.math.currentAssignment
                    if user.languageArts
                        tr
                            td languageArts
                            td= user.languageArts.name
                            td= user.languageArts.currentAssignment
                    if user.science
                        tr
                            td science
                            td= user.science.name
                            td= user.science.currentAssignment
                    if user.socialStudies
                        tr
                            td socialStudies
                            td= user.socialStudies.name
                            td= user.socialStudies.currentAssignment
                    if user.trimester1
                        tr
                            td trimester1
                            td= user.trimester1.name
                            td= user.trimester1.currentAssignment
                    if user.trimester2
                        tr
                            td trimester2
                            td= user.trimester2.name
                            td= user.trimester2.currentAssignment
                    if user.trimester3
                        tr
                            td trimester3
                            td= user.trimester3.name
                            td= user.trimester3.currentAssignment