mixin showCurrentWork(user = {})

    if user.ta
                hr
                p Current Classwork for 
                    if currentPath.startsWith("/ta")
                        a(href=`/user/${user._id}`) <strong> #{user.name}. </strong> 
                    else
                        strong=user.name
                    span They have #{user.callbackCount} items on callback, and #{user.pbisCount} PBIS Cards this week and #{user.yearPbisCount} total cards
                if  currentPath.startsWith('/ta') 
                    p
                        a(href=`/email/parent/${user._id}`) Send a parent account signup email for #{user.name}
                        span= `  -  `
                        a(href=`/pbis/add/student/${user._id}/quick`) Quick Pbis
                table.table
                    thead 
                        td Block
                        td Class
                        td Teacher
                        td Current Assignment to work on 
                    if user.block1
                        tr
                            td block1
                            td= user.block1.teacherSubject
                            td= user.block1.name
                            td= user.block1.currentAssignment
                    if user.block2
                        tr
                            td block2
                            td= user.block2.teacherSubject
                            td= user.block2.name
                            td= user.block2.currentAssignment
                    if user.block3
                        tr
                            td block3
                            td= user.block3.teacherSubject
                            td= user.block3.name
                            td= user.block3.currentAssignment
                    if user.block4
                        tr
                            td block4
                            td= user.block4.teacherSubject
                            td= user.block4.name
                            td= user.block4.currentAssignment
                    //- if user.block5
                    //-     tr
                    //-         td block5
                    //-         td= user.block5.teacherSubject
                    //-         td= user.block5.name
                    //-         td= user.block5.currentAssignment
                    //- if user.block6
                    //-     tr
                    //-         td block6
                    //-         td= user.block6.teacherSubject
                    //-         td= user.block6.name
                    //-         td= user.block6.currentAssignment
                    //- if user.block7
                    //-     tr
                    //-         td block7
                    //-         td= user.block7.teacherSubject
                    //-         td= user.block7.name
                    //-         td= user.block7.currentAssignment
                    //- if user.block8
                    //-     tr
                    //-         td block8
                    //-         td= user.block8.teacherSubject
                    //-         td= user.block8.name
                    //-         td= user.block8.currentAssignment
                    //- if user.block9
                    //-     tr
                    //-         td block9
                    //-         td= user.block9.teacherSubject
                    //-         td= user.block9.name
                    //-         td= user.block9.currentAssignment
                 
                    if !currentPath.startsWith('/ta')
                        if user.ta
                            tr
                                td TA
                                td
                                td=user.ta.name