mixin showCurrentWork(user = {})

    if user.ta
                hr
                p Current Classwork for 
                    a(href=`/user/${user._id}`) <strong> #{user.name}.</strong> 
                    span They have #{user.callbackCount} items on callback, and #{user.pbisCount} PBIS Cards this week and #{user.yearPbisCount} total cards
                if  currentPath.startsWith('/ta') 
                    p
                        a(href=`/email/parent/${user._id}`) Send a parent account signup email for #{user.name}
                        span= `  -  `
                        a(href=`/pbis/add/student/${user._id}`) Quick Pbis
                table.table
                    thead 
                        td Class
                        td Teacher
                        td Current Assignment to work on 
                    if user.math
                        tr
                            td Math
                            td= user.math.name
                            td= user.math.currentAssignment
                    if user.languageArts
                        tr
                            td languageArts
                            td= user.languageArts.name
                            td= user.languageArts.currentAssignment
                    if user.science
                        tr
                            td science
                            td= user.science.name
                            td= user.science.currentAssignment
                    if user.socialStudies
                        tr
                            td socialStudies
                            td= user.socialStudies.name
                            td= user.socialStudies.currentAssignment
                    if user.trimester1
                        tr
                            td trimester1
                            td= user.trimester1.name
                            td= user.trimester1.currentAssignment
                    if user.trimester2
                        tr
                            td trimester2
                            td= user.trimester2.name
                            td= user.trimester2.currentAssignment
                    if user.trimester3
                        tr
                            td trimester3
                            td= user.trimester3.name
                            td= user.trimester3.currentAssignment
                    if !currentPath.startsWith('/ta')
                        if user.ta
                            tr
                                td TA
                                td=user.ta.name