mixin userTable(users={})
    table.table
        thead
            td
                a(href="/user/search/name")=`Name:   ${studentCallbackCount} students are on callback ${percentageOnCallback}% of ${studentCount} students`
            td
                a(href="/user/search/ta") TA
            td
                a(href="/user/search/callbackCount")=`callback total: ${callbackCount}`
            td
                a(href="/user/search/parent") Parent

        each user in users
            tr
                td
                    a(href=`/user/${user._id}`) #{user.name}
                if user.ta
                    td=user.ta.name
                else
                    td
                td=user.callbackCount
                if !(user.isTeacher || user.isAdmin)
                    if user.parent
                        td â˜’
                    else
                        td â˜
                